washroom.nr.json
[{"id":"56ffc300.fec2bc","type":"tab","label":"主卫","disabled":false,"info":""},{"id":"63cabdaa.353c44","type":"server-state-changed","z":"56ffc300.fec2bc","name":"door","server":"fbf547a1.f39438","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.master_wash_door_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":100,"wires":[["e5d82bca.8cecb8"],["db6f2185.c9901"]]},{"id":"eb6d8d4b.abf8","type":"api-call-service","z":"56ffc300.fec2bc","name":"ceil on","server":"fbf547a1.f39438","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.master_wash_ceil1, light.master_wash_ceil2, light.master_wash_ceil3","data":"{\"transition\":2}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":320,"wires":[[]]},{"id":"f84114cf.b6e548","type":"server-state-changed","z":"56ffc300.fec2bc","name":"move","server":"fbf547a1.f39438","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.master_wash_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":40,"wires":[["8a903443.7fc0c8"],[]]},{"id":"8a903443.7fc0c8","type":"change","z":"56ffc300.fec2bc","name":"move","rules":[{"t":"set","p":"moved","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":40,"wires":[["e7fac4b4.b094f8"]]},{"id":"db6f2185.c9901","type":"change","z":"56ffc300.fec2bc","name":"close","rules":[{"t":"set","p":"doorClosed","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":120,"wires":[["e7fac4b4.b094f8"]]},{"id":"e5d82bca.8cecb8","type":"change","z":"56ffc300.fec2bc","name":"open","rules":[{"t":"set","p":"doorOpened","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[["e7fac4b4.b094f8"]]},{"id":"88a1dc8c.47be1","type":"delay","z":"56ffc300.fec2bc","name":"quiet","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":160,"wires":[["996f9597.48afd8","6ba240c9.8fefd"]]},{"id":"334bea3c.5f9c46","type":"inject","z":"56ffc300.fec2bc","name":"open","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":290,"y":80,"wires":[["e5d82bca.8cecb8"]]},{"id":"11ad5659.df76ba","type":"inject","z":"56ffc300.fec2bc","name":"close","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":290,"y":120,"wires":[["db6f2185.c9901"]]},{"id":"d8ef88ea.6d42b8","type":"inject","z":"56ffc300.fec2bc","name":"move","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":290,"y":40,"wires":[["8a903443.7fc0c8"]]},{"id":"5b7883b9.5848fc","type":"inject","z":"56ffc300.fec2bc","name":"quiet","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":290,"y":160,"wires":[["6ba240c9.8fefd"]]},{"id":"e7fac4b4.b094f8","type":"function","z":"56ffc300.fec2bc","name":"delay","func":"// Handles door state changed.\nlet doorOpened = context.get('doorOpened');\nif (msg.doorOpened && doorOpened !== true) {\n  doorOpened = true;\n  context.set('moves', 1);\n} \nif (msg.doorClosed && doorOpened !== false) {\n  doorOpened = false;\n  context.set('moves', 1);\n}\ncontext.set('doorOpened', doorOpened);\n\n// Handles move and quiet events.\nlet moves = context.get('moves');\nif (msg.moved && moves < 4) {\n  moves += 1;\n} else if (msg.quiet) {\n  moves = 0;\n}\ncontext.set('moves', moves);\n\nconst openedDelays = [0, 3, 4,  5,  6];\nconst closedDelays = [0, 3, 6, 12, 30];\nif (moves) {\n  const delays = (doorOpened === false) ? closedDelays : openedDelays;\n  const delayMinutes = delays[moves];\n  return {delay: delayMinutes * 60000};\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"// 部署节点后，此处添加的代码将运行一次。\ncontext.set('doorOpened', undefined);\ncontext.set('moves', 0);","finalize":"","libs":[],"x":550,"y":100,"wires":[["7b4992d9.07dc9c","ddd8205a.c6f44"]]},{"id":"7b4992d9.07dc9c","type":"link out","z":"56ffc300.fec2bc","name":"moved","links":["15cabc6c.172d14","1fa29277.5b811e"],"x":655,"y":120,"wires":[]},{"id":"1fa29277.5b811e","type":"link in","z":"56ffc300.fec2bc","name":"light on","links":["7b4992d9.07dc9c"],"x":35,"y":220,"wires":[["b5e76bc9.a71f08"]]},{"id":"a9926870.8d9688","type":"link in","z":"56ffc300.fec2bc","name":"to quiet","links":["a450addb.1057e"],"x":35,"y":160,"wires":[["88a1dc8c.47be1"]]},{"id":"c8d498e8.c2ae78","type":"api-call-service","z":"56ffc300.fec2bc","name":"fan off","server":"fbf547a1.f39438","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.master_wash_fan","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":620,"wires":[[]]},{"id":"f93a806c.ad6da","type":"api-call-service","z":"56ffc300.fec2bc","name":"spot on","server":"fbf547a1.f39438","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.master_wash_spot","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":271,"wires":[[]]},{"id":"67b3bf89.89236","type":"api-call-service","z":"56ffc300.fec2bc","name":"bath off","server":"fbf547a1.f39438","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.master_wash_spot, light.master_wash_bath","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":400,"wires":[[]]},{"id":"2016900.060357","type":"delay","z":"56ffc300.fec2bc","name":"+3mins","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":680,"wires":[["ea546c95.4c651"]]},{"id":"2c3ff4b9.30852c","type":"api-current-state","z":"56ffc300.fec2bc","name":"humidity > 70","server":"fbf547a1.f39438","version":1,"outputs":2,"halt_if":"70","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.master_wash_humidity","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":660,"wires":[["dad75d39.f349f"],["60ddab05.3112a4"]]},{"id":"996f9597.48afd8","type":"change","z":"56ffc300.fec2bc","name":"quiet","rules":[{"t":"set","p":"quiet","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":160,"wires":[["e7fac4b4.b094f8"]]},{"id":"291d75a9.829cea","type":"api-call-service","z":"56ffc300.fec2bc","name":"fan on","server":"fbf547a1.f39438","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.master_wash_fan","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":130,"y":600,"wires":[["3f6d3165.a8a28e"]]},{"id":"beeae73f.495258","type":"link in","z":"56ffc300.fec2bc","name":"fan on","links":["6ba240c9.8fefd"],"x":35,"y":600,"wires":[["291d75a9.829cea"]]},{"id":"6ba240c9.8fefd","type":"link out","z":"56ffc300.fec2bc","name":"quiet","links":["beeae73f.495258","e4a13708.88a7b8"],"x":655,"y":160,"wires":[]},{"id":"e4a13708.88a7b8","type":"link in","z":"56ffc300.fec2bc","name":"light off","links":["6ba240c9.8fefd"],"x":35,"y":400,"wires":[["67b3bf89.89236","89c66ed2.bd4a9","b0cb0927.15c5b8"]]},{"id":"41358413.06675c","type":"comment","z":"56ffc300.fec2bc","name":"is quiet","info":"","x":730,"y":160,"wires":[]},{"id":"f4eda3ac.d37e","type":"comment","z":"56ffc300.fec2bc","name":"is movd","info":"","x":730,"y":120,"wires":[]},{"id":"b7b98182.35f6b","type":"comment","z":"56ffc300.fec2bc","name":"to quiet","info":"","x":730,"y":80,"wires":[]},{"id":"89c66ed2.bd4a9","type":"delay","z":"56ffc300.fec2bc","name":"+5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":480,"wires":[["b2d0f598.381fa8"]]},{"id":"b2d0f598.381fa8","type":"api-call-service","z":"56ffc300.fec2bc","name":"power off","server":"fbf547a1.f39438","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.master_wash_ceil","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":480,"wires":[[]]},{"id":"a1b966c4.5886a8","type":"api-call-service","z":"56ffc300.fec2bc","name":"power on","server":"fbf547a1.f39438","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.master_wash_ceil","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":320,"wires":[["665bf499.4befec"]]},{"id":"665bf499.4befec","type":"delay","z":"56ffc300.fec2bc","name":"+2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":320,"wires":[["eb6d8d4b.abf8"]]},{"id":"4b339e7a.72a6e","type":"function","z":"56ffc300.fec2bc","name":"break","func":"const opsCount = msg.opsCount || context.get('opsCOunt');\n\nif (opsCount > 0) {\n  context.set('opsCOunt', opsCount - 1);\n  return [null, [{reset:true}, {}]]; \n} else {\n  return [{}, null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":640,"wires":[["c8d498e8.c2ae78"],["2016900.060357"]]},{"id":"3f6d3165.a8a28e","type":"change","z":"56ffc300.fec2bc","name":"try 6 times","rules":[{"t":"set","p":"fanOnpened","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"opsCount","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":600,"wires":[["4b339e7a.72a6e"]]},{"id":"dad75d39.f349f","type":"change","z":"56ffc300.fec2bc","name":"try continue","rules":[{"t":"set","p":"highHumidity","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":640,"wires":[["4b339e7a.72a6e"]]},{"id":"60ddab05.3112a4","type":"change","z":"56ffc300.fec2bc","name":"try 0 times","rules":[{"t":"set","p":"lowHumidity","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"opsCount","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":680,"wires":[["4b339e7a.72a6e"]]},{"id":"ea546c95.4c651","type":"link out","z":"56ffc300.fec2bc","name":"humidity loop","links":["929e32ab.a59c9"],"x":795,"y":680,"wires":[]},{"id":"929e32ab.a59c9","type":"link in","z":"56ffc300.fec2bc","name":"humidity loop","links":["ea546c95.4c651"],"x":35,"y":660,"wires":[["2c3ff4b9.30852c"]]},{"id":"15cabc6c.172d14","type":"link in","z":"56ffc300.fec2bc","name":"fan off","links":["7b4992d9.07dc9c"],"x":595,"y":580,"wires":[["c8d498e8.c2ae78"]]},{"id":"ddd8205a.c6f44","type":"function","z":"56ffc300.fec2bc","name":"reset delay","func":"return [[{reset:true}, {delay:msg.delay}]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":40,"wires":[["a450addb.1057e"]]},{"id":"a450addb.1057e","type":"link out","z":"56ffc300.fec2bc","name":"to quiet","links":["a9926870.8d9688"],"x":775,"y":40,"wires":[]},{"id":"b5e76bc9.a71f08","type":"time-range-switch","z":"56ffc300.fec2bc","name":"0-sunriseEnd","lat":"31","lon":"121","startTime":"0:00","endTime":"7:00","startOffset":0,"endOffset":"0","x":150,"y":220,"wires":[["a89e8fe6.ae732"],["f93a806c.ad6da","a1b966c4.5886a8"]]},{"id":"a89e8fe6.ae732","type":"api-call-service","z":"56ffc300.fec2bc","name":"bath on","server":"fbf547a1.f39438","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.master_wash_bath","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":220,"wires":[[]]},{"id":"b0cb0927.15c5b8","type":"api-call-service","z":"56ffc300.fec2bc","name":"spot off","server":"fbf547a1.f39438","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.master_wash_spot","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":440,"wires":[[]]},{"id":"fbf547a1.f39438","type":"server","name":"Home Assistant","addon":true}]
